@tailwind base;
@tailwind components;
@tailwind utilities;

.download-section {
  @apply fixed z-[99] bottom-10 left-0 bg-transparent w-full flex items-center justify-center h-auto;
}
.download-section div {
  @apply bg-slate-200 p-6 text-lg text-secondary font-oswald flex flex-col lg:items-center lg:justify-center lg:flex-row gap-6 lg:gap-10 shadow-2xl border border-solid border-primary drop-shadow-primary rounded-sm;
}
.download-section div p:nth-child(1) {
  @apply tracking-wide font-poppins text-lg text-center;
}
.download-section div p:nth-child(2) {
  @apply w-auto h-auto text-center;
}
.download-section div p:nth-child(2) a {
  @apply hover:bg-primary px-6 py-2 rounded-full text-xl font-bold text-slate-200 tracking-wide uppercase duration-500 hover:drop-shadow-primary bg-secondary hover:tracking-wider;
}

body,
section,
header,
main,
/* article, */
footer {
  @apply w-full overflow-x-hidden;
}

.owl-nav,
.owl-dots {
  display: block !important;
  /* position: relative; */
  font-size: 2rem;
}

.owl-dots {
  position: absolute;
  top: 0;
}

.owl-nav {
}

.owl-nav .owl-prev {
  left: 40px;
}

.owl-nav .owl-next {
  right: 40px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  @apply top-[45%] absolute !text-[5rem] md:!text-[8rem] font-oswald !bg-[rgb(13_56_150_/_30%)] hover:!drop-shadow-primary md:w-20 w-10 md:h-20 h-10 !pb-3 !leading-[0] !text-primary !fill-primary rounded-3xl;
}

/* Owl Carousel */

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  /* Image not found on local */
  /* background: url(owl.video.play.png) no-repeat; */
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.group.groupchild.active-child-nav {
  @apply bg-secondary;
}

.group.groupchild.active-child-nav {
  --tw-bg-opacity: 1;
  background-color: rgb(13 56 150 / var(--tw-bg-opacity));
}

.text-nowrap {
  text-wrap: nowrap !important;
}

#content-container iframe {
  @apply !w-full rounded-md absolute inset-0 !h-full object-cover group-[.active-video]:block hidden;
}

#content-container figure.active-video iframe {
  display: block !important;
}
